.App{
  min-height: 100vh;
  background-image: linear-gradient(45deg,#ff9a9e  0%,#fad0c4 99%,#fad0c4 100%);
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 30px;
}

.search-button{
  /* width: 5%; */
  border: none;
  min-height: 5vh;
  border-radius: 3%;
  background-color: rgba(150, 61, 61, 0.527);
  cursor: pointer;
  border-radius: 10%;
  border: 2px solid white;

}
.search-button:hover{
  box-shadow: 5px 3px 0px rgb(184, 168, 168);

}
.recipes{
  display: flex;
  
  justify-content: space-around;
  flex-wrap: wrap;
}
.receipe-app {
  text-align: center;
  color: #f8001d92;

}
.app-span {
  color: #780b0e;
}

.menu{
  text-align: center;
  color: #580e10;
}